/* The sidebar menu */
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 320px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 96px;
  padding-bottom: 96px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
}

/* The navigation menu links */
.sidenav a {
  font-family: 'Roboto', arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(145, 145, 145);
  display: block;
  font-weight: 400;
  line-height: 45px;
}

.block {
  padding-left: 48px;
}

.nav>li>a {
  padding: 0 10px;
  width: fit-content;
  
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-weight: 550;
  color: rgb(27, 27, 27);
  letter-spacing: 1.5px;
  font-size: 72px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  font-weight: 500;
  color: rgb(27, 27, 27);
  letter-spacing: 1.5px;
  font-size: 24px;
}

.block h1 {
  font-weight: 500;
  padding-bottom: 100px;
  font-size: 24px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(120, 117, 117);
}

.sidenav a:focus {
  font-weight: 700;
}


.button {
  letter-spacing: 3px;
  border: 2px solid rgb(27, 27, 27);
  padding: 16px 32px;
  background-color: transparent;
  font-size: 14px;
  text-shadow: none;
  font-family: 'Roboto', arial, sans-serif;
  transition-duration: 0.4s;
  font-weight: 700;
}

.button:hover {
  color: #fff;
  background-color: rgb(27, 27, 27);

}



/* Style page content */
.main {
  padding-left: 320px;
}



.centerBox {
  display: flex;
  height: 1084px;
  position: relative;
  justify-content: center;
}

.section {
  position: absolute;
  text-align: center;

}

.group {
  justify-content: center;
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
}

.basePadding {

  padding: 24px;
}

.paddingVert {
  padding-bottom: 24px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  font-size: 32px;
  color: rgb(27, 27, 27);
  letter-spacing: 1.5px;
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  text-align: left;
}

.list span {
  font-size: 1vw;
  font-weight: 400;
  font-family: 'Roboto', arial, sans-serif;
  letter-spacing: 1px;
  color: rgb(94, 94, 94);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

.bt2 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(140, 138, 138);
  height : 0px;
  line-height: 0.1em;
  margin: 30px 0 60px;
}

h3 span {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  color: rgb(140, 138, 138);
  ;
  background: #fff;
  padding: 0 10px;
}


.game {

  height: 700px;
}

.itchioEmbed {
  position: relative;
  height: 500px;
  width: 47vw;
}

.right {
  float: right
}

.left {
  float: left
}


.bt2 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.game .list {
  width: 25vw;
}

.active>a {
  color: rgb(94, 94, 94);
  font-weight: 700;
  transition-duration: 0.4s;
}

#myWork {
  height: 2600px;
}

a{
  text-decoration: none;
  color: rgb(27, 27, 27);
  transition-duration: 250ms;
}

a:hover{
  color: white;
  background-color: rgb(27, 27, 27);
}

#aboutMe .left{
  width: 40%
}

#aboutMe .right{
  width: 60%
}

iframe {
  height: 700px;
  width: 47vw;
}
@media screen and (max-width: 1500px) {

  
  #aboutMe{
    height: 1239px;
  }

  .right {
    float: none;
    text-align-last: center;
    text-align: center;
  }

  .left {
    float: none;
    text-align-last: center;
    text-align: center;
  }

  .game .list {
    width: fit-content;
  }

  .game {
    height: 1200px;
  }
  iframe {
    height: 500px;
    width: 60vw;
  }

  .itchioEmbed {
    position: relative;
    height: 500px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  #myWork {
    height: 3900px;
  }

  #aboutMe .left{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  #aboutMe .right{
    width: 100%
  }
  .main {
    padding-left: 220px;
  }
  .sidenav {
    width: 220px;
  }
 
}
@media screen and (max-width: 1000px) {

  .sidenav {
    padding-top: 88%;
    width: 0px;
  }


  .list {
    font-size: 5vw;
    text-align: center;
  }

  .list span {
    font-size: 2.5vw;
  }

  .main {
    padding-left: 0px;
  }

  .right {
    float: none;
    text-align-last: center;
    text-align: center;
  }

  .left {
    float: none;
    text-align-last: center;
    text-align: center;
  }

  .game .list {
    width: fit-content;
  }

  .game {
    height: 1000px;
  }
  iframe {
    height: 500px;
    width: 100vw;
  }

  .itchioEmbed {
    position: relative;
    height: 500px;
    width: 100vw;
  }
  #myWork {
    height: 3302px;
  }

  #aboutMe .left{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  #aboutMe .right{
    width: 100%
  }
}
@media (pointer:none), (pointer:coarse) {
  #aboutMe{
    height: 1000px;
  }
}